
<div class="jumbotron animated fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="assets/img/avengers.png" alt="" class="img-fluid">
            </div>
        
            <div class="col-8">
                    <h1 class="display-4 text-center">Bienvenidos a mi Comic App!</h1>
                    <p class="lead">Te gustan los Comics?. Aqui encontraras todo un mundo de super heroes</p>
                    <hr class="my-4">
                    <p>Marvel y DC unen fuerzas para luchar por el planeta</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Ver mas...</a>
            </div>
        </div>
    </div>
</div>
